# EDA Notebook

In [1]:
from pathlib import Path
import pandas as pd

In [2]:
# Here we will read the train data from csv file and store it in a dataframe
data_dir = Path('./data')
prompts_train_df = pd.read_csv(data_dir/'prompts_train.csv')
summaries_train_df = pd.read_csv(data_dir/'summaries_train.csv')

In [6]:
prompts_train_df.shape, summaries_train_df.shape

((4, 4), (7165, 5))

In [3]:
summaries_train_df.head(2)

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755

In [6]:
prompts_train_df.head()

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [8]:
df = summaries_train_df.merge(prompts_train_df)
df.shape

(7165, 8)

In [9]:
df.prompt_id.value_counts()

39c16e    2057
3b9047    2009
ebad26    1996
814d6b    1103
Name: prompt_id, dtype: int64

## Create train-val split

A good splitting strategy would be to split based on `prompt_id`, and make four fold models.

In [13]:
df['excerpt'] = '<PROMPT_TITLE>' + df.prompt_title + '</PROMPT_TITLE>\n\n' + '<PROMPT>' + df.prompt_question + '</PROMPT>\n\n' + '<SUMMARY>' + df.text + '</SUMMARY>'
print(df['excerpt'].values[2])

<PROMPT_TITLE>The Third Wave</PROMPT_TITLE>

<PROMPT>Summarize how the Third Wave developed over such a short period of time and why the experiment was ended.</PROMPT>

<SUMMARY>The third wave only started as an experiment within the class but it slowly spread through kids partipating outside of class. Some kids we're even reporting back to Mr. Jones if another student didn't abide by the rules. As more and more kids joined the "movement" Mr. Jones realized it was slipping out of control so he terminated the movement.</SUMMARY>

In [14]:
df.to_csv('./data/train.csv', index=False)